In [1]:
import pandas as pd

In [6]:
tick = pd.read_csv('C:/Users/hoony/Downloads/tickdata/tickdata_20220808.csv')

In [7]:
len(tick)

2203907

In [2]:
df = pd.read_csv('testdata_20220808.csv')

In [17]:
sorted_idx = list(df["COLUMN01"].unique())

In [22]:
missing_idx = list(set(list(tick["COLUMN01"].unique())) - set(sorted_idx))

In [34]:

tick[tick["COLUMN01"].isin(missing_idx)]

,COLUMN01,COLUMN02,COLUMN03,COLUMN04,COLUMN05,COLUMN06,COLUMN07,COLUMN08,COLUMN09,COLUMN10,...,COLUMN46,COLUMN47,COLUMN48,COLUMN49,COLUMN50,COLUMN51,COLUMN52,COLUMN53,COLUMN54,COLUMN55
0,0,600096.SH,93000000,260000,260000,260000,260000,260000,260100,260600,...,27100,8200,511900,13309400,781700,2397500,289000,236400,254320,274170
1,1,002056.SZ,93000000,213400,213400,212300,213000,213000,213100,213200,...,2000,4900,137800,2939298,786500,1137199,235700,192900,206800,225000
3,3,002065.SZ,93000000,63600,63700,63500,63700,63700,63800,63900,...,40300,35700,276100,1755842,1124300,1698239,69700,57100,61800,67000
5,5,002080.SZ,93000000,258000,258800,257800,258000,258000,258100,258800,...,1000,400,317200,8185050,389200,976000,283000,231600,250800,270200
7,7,002081.SZ,93000000,47300,47300,47200,47200,47200,47300,47400,...,20800,16800,53300,252093,602500,1492400,52100,42700,45700,49900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,895,300115.SZ,93003000,119700,119800,119300,119700,119800,119900,120000,...,7600,200,218448,2613644,1015252,2681531,145800,97200,114800,133600
897,897,300073.SZ,93003000,935000,938300,935000,937500,937500,938800,938900,...,600,500,146900,13750657,79600,216463,1122000,748000,913200,985400
899,899,300072.SZ,93003000,48800,48800,48400,48600,48600,48700,48800,...,11600,31100,71700,349233,748000,2257450,58100,38700,46800,52900
903,903,300088.SZ,93003000,72700,72700,72300,72500,72500,72600,72700,...,81600,37400,654700,4754159,2471400,7634000,87400,58200,69900,78200
2675,2675,688301.SH,93013000,5000000,5000000,5000000,5000000,5000000,5059400,5059900,...,200,200,400,200000,11201,15804,6043200,4028800,4911630,5170610

In [44]:
tick[tick["COLUMN03"] == 93000000]["COLUMN02"].value_counts()

002439.SZ    2
002958.SZ    2
002985.SZ    2
003035.SZ    2
300001.SZ    2
            ..
603613.SH    1
600201.SH    1
600497.SH    1
600079.SH    1
600499.SH    1
Name: COLUMN02, Length: 456, dtype: int64

In [23]:
df_na = df[["COLUMN01", "COLUMN02"]]
df_na

         COLUMN01   COLUMN02
0             548  000009.SZ
1             497  000012.SZ
2             518  000021.SZ
3             540  000027.SZ
4             542  000031.SZ
...           ...        ...
2203402   2203723  688772.SH
2203403   2203724  688779.SH
2203404   2203870  688779.SH
2203405   2203806  688819.SH
2203406   2203722  688981.SH

[2203407 rows x 2 columns]

In [11]:
df_no_na = df.dropna()

In [25]:
test = df_na[df_na["COLUMN02"] == "000009.SZ"]

In [4]:
df[df["COLUMN01"] == 1077]

,COLUMN01,COLUMN02,COLUMN03,COLUMN04,COLUMN05,COLUMN06,COLUMN07,COLUMN08,COLUMN09,COLUMN10,...,bb_high,bb_low,RSI,MACD,MACD_signal,MACD_diff,stoch_k,stoch_d,ATR,RMA
195,1077,000009.SZ,93003,140900,141500,140500,140700,140700,140800,140900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [5]:
df[df["COLUMN01"] == 497]

,COLUMN01,COLUMN02,COLUMN03,COLUMN04,COLUMN05,COLUMN06,COLUMN07,COLUMN08,COLUMN09,COLUMN10,...,bb_high,bb_low,RSI,MACD,MACD_signal,MACD_diff,stoch_k,stoch_d,ATR,RMA
1,497,000012.SZ,93000,64500,64500,64200,64400,64400,64500,64600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [13]:
test = pd.DataFrame([3,2,3,4], index=["3", "4", "5", "6"])
test

   0
3  3
4  2
5  3
6  4

In [14]:
test.set_index(test[0])

   0
0
3  3
2  2
3  3
4  4

In [45]:
ordertime = pd.read_csv('testdata_20220808_ordertime.csv')

In [49]:
ordertime[ordertime['BSflag'] == "B"].groupby('symbol').sum()

            dataIdx  volume
symbol
000009.SZ   1805025     100
000012.SZ   7423326      95
000021.SZ  11311484     100
000027.SZ  10904995     100
000031.SZ  10148862     100
...             ...     ...
688772.SH   2427828     100
688777.SH   3723993     100
688779.SH   4133271     100
688819.SH   2735910     100
688981.SH   1381494     100

[480 rows x 2 columns]

In [50]:
ordertime[ordertime['BSflag'] == "S"].groupby('symbol').sum()

           dataIdx  volume
symbol
000009.SZ  3057733     100
000012.SZ  2047179     100
000021.SZ  6940431      98
000027.SZ  4573039     100
000031.SZ  1950054     100
...            ...     ...
688772.SH  3413312     100
688777.SH  1519805     100
688779.SH  3492261     100
688819.SH  2393583     100
688981.SH  3686284     100

[477 rows x 2 columns]